# Sqlite

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect("../data/sql-murder-mystery.db")

In [ ]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM person")
rows = cursor.fetchall()
rows

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_sql_query("SELECT * FROM person", conn)
df

In [ ]:
conn.close()

## Other Databases

In [ ]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import pandas as pd

### SQL Server

In [ ]:
# pip install pyodbc

username = "sa"
password = "abc12345"
server = "localhost"
database = "w3"

connection_string = f"mssql+pyodbc://{username}:{quote_plus(password)}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

engine = create_engine(connection_string)
conn = engine.connect()

### MySQL

In [ ]:
# pip install pymysql

username = 'root'
password = ''
server = 'localhost'
database = 'w3schools'

connection_string = f"mysql+pymysql://{username}:{quote_plus(password)}@{server}/{database}?charset=utf8mb4"
engine = create_engine(connection_string)
conn = engine.connect()
conn

### Oracle

In [ ]:
# Requirements: Windows 11 SDK, MS Visual C++ v142

username = "demo"
password = "demo"
host = "localhost"
port = "1521"
database = "xe"

connection_string = f"oracle+cx_oracle://{username}:{password}@{host}:{port}/?service_name={database}"
engine = create_engine(connection_string)
conn = engine.connect()

### Fetching Data

In [ ]:
df = pd.read_sql_query("SELECT * FROM products", conn)
df

In [ ]:
conn.close()