# SQL Server

!pip install sqlalchemy
!pip install pyodbc

In [22]:
import pandas as pd
from sqlalchemy import create_engine

In [31]:
username = "sa"
password = "abc12345"
server = "PC15NV40" # this is your computer name or remote IP address
database = "w3" # default database name

# connecting via SQL Authentication
connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

# connecting via Windows Authentication
connection_string = f"mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

engine = create_engine(connection_string)

## Fetching directly from engine

In [32]:
# opening the connection
connection = engine.connect()

# executing SQL query
results = connection.execute("SELECT * FROM lasalle.dbo.EmployeesLog")

# fetching records
rows = results.fetchall()

# loop through records to print
for row in rows:
    print(row)

# closing the connection
connection.close()

(1, 1, 'Kaveh', 'Montreal', datetime.datetime(2023, 3, 15, 9, 29, 6, 180000), 'I')
(2, 1, 'Kaveh', 'Montreal', datetime.datetime(2023, 3, 15, 9, 35, 39, 180000), 'D')
(3, 2, 'John', 'Vancouver', datetime.datetime(2023, 3, 15, 9, 46, 28, 127000), 'I')
(4, 2, 'John', 'Vancouver', datetime.datetime(2023, 3, 15, 9, 47, 4, 293000), 'D')
(5, 2, 'John', 'Toronto', datetime.datetime(2023, 3, 15, 9, 47, 4, 293000), 'I')

## Fetching via Pandas

In [33]:
df = pd.read_sql("SELECT * FROM products WHERE Price > 50", engine)
df.head()

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,1,Chais,1,1,10 boxes x 20 bags,20.00
1,2,Chang,1,1,24 - 12 oz bottles,19.00
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35

df.to_csv("../data/sample_data.csv")