 # Data Manipulation

In [4]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
df["Gender"] = None
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,None
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,None
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,None
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,None
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,None

## pd.iterrows()

In [17]:
%%time

for index, row in df.iterrows():
    if row["Sex"] == "male":
        df.loc[index, "Gender"] = 1
        # row["Gender"] = 1
    else:
        df.loc[index, "Gender"] = 0
        # row["Gender"] = 1

CPU times: total: 172 ms
Wall time: 275 ms

In [18]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

In [26]:
for index, row in df.iterrows():
    if index == 0:
        print(row)
        print(type(row))
        print(type(row["Cabin"]))

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Gender                               1
Name: 0, dtype: object
<class 'pandas.core.series.Series'>
<class 'float'>

## pd.itertuples()

In [34]:
df["Gender"] = None

In [35]:
%%time

for row in df.itertuples():
    if row.Sex == "male":
        df.loc[row.Index, "Gender"] = 1
    else:
        df.loc[row.Index, "Gender"] = 0

CPU times: total: 125 ms
Wall time: 193 ms

## np.where()

In [36]:
df["Gender"] = None

In [37]:
%%time

df["Gender"] = np.where(df["Sex"] == "male", 1, 0)

CPU times: total: 0 ns
Wall time: 1.01 ms

## pd.apply()

In [41]:
df["Gender"] = None

In [42]:
%%time

def gender_encoder(x):
    if x == "male":
        return 1
    else:
        return 0
        
df["Gender"] = df["Sex"].apply(gender_encoder)

CPU times: total: 0 ns
Wall time: 1.12 ms

In [40]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

In [45]:
# apply on multiple columns

def test(x, y):
    print(x, y)
    print("")

df.apply(lambda x: test(x.Pclass, x.Name), axis=1)

3 Braund, Mr. Owen Harris

1 Cumings, Mrs. John Bradley (Florence Briggs Thayer)

3 Heikkinen, Miss. Laina

1 Futrelle, Mrs. Jacques Heath (Lily May Peel)

3 Allen, Mr. William Henry

3 Moran, Mr. James

1 McCarthy, Mr. Timothy J

3 Palsson, Master. Gosta Leonard

3 Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)

2 Nasser, Mrs. Nicholas (Adele Achem)

3 Sandstrom, Miss. Marguerite Rut

1 Bonnell, Miss. Elizabeth

3 Saundercock, Mr. William Henry

3 Andersson, Mr. Anders Johan

3 Vestrom, Miss. Hulda Amanda Adolfina

2 Hewlett, Mrs. (Mary D Kingcome)

3 Rice, Master. Eugene

2 Williams, Mr. Charles Eugene

3 Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)

3 Masselmani, Mrs. Fatima

2 Fynney, Mr. Joseph J

2 Beesley, Mr. Lawrence

3 McGowan, Miss. Anna "Annie"

1 Sloper, Mr. William Thompson

3 Palsson, Miss. Torborg Danira

3 Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)

3 Emir, Mr. Farred Chehab

1 Fortune, Mr. Charles Alexander

3 O'Dwyer, Miss. Ellen "Nellie"

3 Todoroff, Mr. Lalio

1 Uruchurtu, Don. Manuel E

1 Spencer, Mrs. William Augustus (Marie Eugenie)

3 Glynn, Miss. Mary Agatha

2 Wheadon, Mr. Edward H

1 Meyer, Mr. Edgar Joseph

1 Holverson, Mr. Alexander Oskar

3 Mamee, Mr. Hanna

3 Cann, Mr. Ernest Charles

3 Vander Planke, Miss. Augusta Maria

3 Nicola-Yarred, Miss. Jamila

3 Ahlin, Mrs. Johan (Johanna Persdotter Larsson)

2 Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)

3 Kraeff, Mr. Theodor

2 Laroche, Miss. Simonne Marie Anne Andree

3 Devaney, Miss. Margaret Delia

3 Rogers, Mr. William John

3 Lennon, Mr. Denis

3 O'Driscoll, Miss. Bridget

3 Samaan, Mr. Youssef

3 Arnold-Franchi, Mrs. Josef (Josefine Franchi)

3 Panula, Master. Juha Niilo

3 Nosworthy, Mr. Richard Cater

1 Harper, Mrs. Henry Sleeper (Myna Haxtun)

2 Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)

1 Ostby, Mr. Engelhart Cornelius

1 Woolner, Mr. Hugh

2 Rugg, Miss. Emily

3 Novel, Mr. Mansouer

2 West, Miss. Constance Mirium

3 Goodwin, Master. William Frederick

3 Sirayanian, Mr. Orsen

1 Icard, Miss. Amelie

1 Harris, Mr. Henry Birkhardt

3 Skoog, Master. Harald

1 Stewart, Mr. Albert A

3 Moubarek, Master. Gerios

2 Nye, Mrs. (Elizabeth Ramell)

3 Crease, Mr. Ernest James

3 Andersson, Miss. Erna Alexandra

3 Kink, Mr. Vincenz

2 Jenkin, Mr. Stephen Curnow

3 Goodwin, Miss. Lillian Amy

2 Hood, Mr. Ambrose Jr

3 Chronopoulos, Mr. Apostolos

3 Bing, Mr. Lee

3 Moen, Mr. Sigurd Hansen

3 Staneff, Mr. Ivan

3 Moutal, Mr. Rahamin Haim

2 Caldwell, Master. Alden Gates

3 Dowdell, Miss. Elizabeth

3 Waelens, Mr. Achille

3 Sheerlinck, Mr. Jan Baptist

3 McDermott, Miss. Brigdet Delia

1 Carrau, Mr. Francisco M

2 Ilett, Miss. Bertha

3 Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)

3 Ford, Mr. William Neal

3 Slocovski, Mr. Selman Francis

1 Fortune, Miss. Mabel Helen

3 Celotti, Mr. Francesco

3 Christmann, Mr. Emil

3 Andreasson, Mr. Paul Edvin

1 Chaffee, Mr. Herbert Fuller

3 Dean, Mr. Bertram Frank

3 Coxon, Mr. Daniel

3 Shorney, Mr. Charles Joseph

1 Goldschmidt, Mr. George B

1 Greenfield, Mr. William Bertram

2 Doling, Mrs. John T (Ada Julia Bone)

2 Kantor, Mr. Sinai

3 Petranec, Miss. Matilda

3 Petroff, Mr. Pastcho ("Pentcho")

1 White, Mr. Richard Frasar

3 Johansson, Mr. Gustaf Joel

3 Gustafsson, Mr. Anders Vilhelm

3 Mionoff, Mr. Stoytcho

3 Salkjelsvik, Miss. Anna Kristine

3 Moss, Mr. Albert Johan

3 Rekic, Mr. Tido

3 Moran, Miss. Bertha

1 Porter, Mr. Walter Chamberlain

3 Zabour, Miss. Hileni

3 Barton, Mr. David John

3 Jussila, Miss. Katriina

3 Attalah, Miss. Malake

3 Pekoniemi, Mr. Edvard

3 Connors, Mr. Patrick

2 Turpin, Mr. William John Robert

1 Baxter, Mr. Quigg Edmond

3 Andersson, Miss. Ellis Anna Maria

2 Hickman, Mr. Stanley George

3 Moore, Mr. Leonard Charles

2 Nasser, Mr. Nicholas

2 Webber, Miss. Susan

1 White, Mr. Percival Wayland

3 Nicola-Yarred, Master. Elias

3 McMahon, Mr. Martin

3 Madsen, Mr. Fridtjof Arne

3 Peter, Miss. Anna

3 Ekstrom, Mr. Johan

3 Drazenoic, Mr. Jozef

3 Coelho, Mr. Domingos Fernandeo

3 Robins, Mrs. Alexander A (Grace Charity Laury)

2 Weisz, Mrs. Leopold (Mathilde Francoise Pede)

2 Sobey, Mr. Samuel James Hayden

2 Richard, Mr. Emile

1 Newsom, Miss. Helen Monypeny

1 Futrelle, Mr. Jacques Heath

3 Osen, Mr. Olaf Elon

1 Giglio, Mr. Victor

3 Boulos, Mrs. Joseph (Sultana)

3 Nysten, Miss. Anna Sofia

3 Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)

3 Burke, Mr. Jeremiah

2 Andrew, Mr. Edgardo Samuel

2 Nicholls, Mr. Joseph Charles

3 Andersson, Mr. August Edvard ("Wennerstrom")

3 Ford, Miss. Robina Maggie "Ruby"

2 Navratil, Mr. Michel ("Louis M Hoffman")

2 Byles, Rev. Thomas Roussel Davids

2 Bateman, Rev. Robert James

1 Pears, Mrs. Thomas (Edith Wearne)

3 Meo, Mr. Alfonzo

3 van Billiard, Mr. Austin Blyler

3 Olsen, Mr. Ole Martin

1 Williams, Mr. Charles Duane

3 Gilnagh, Miss. Katherine "Katie"

3 Corn, Mr. Harry

3 Smiljanic, Mr. Mile

3 Sage, Master. Thomas Henry

3 Cribb, Mr. John Hatfield

2 Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)

3 Bengtsson, Mr. John Viktor

3 Calic, Mr. Jovo

3 Panula, Master. Eino Viljami

3 Goldsmith, Master. Frank John William "Frankie"

1 Chibnall, Mrs. (Edith Martha Bowerman)

3 Skoog, Mrs. William (Anna Bernhardina Karlsson)

1 Baumann, Mr. John D

3 Ling, Mr. Lee

1 Van der hoef, Mr. Wyckoff

3 Rice, Master. Arthur

3 Johnson, Miss. Eleanor Ileen

3 Sivola, Mr. Antti Wilhelm

1 Smith, Mr. James Clinch

3 Klasen, Mr. Klas Albin

3 Lefebre, Master. Henry Forbes

1 Isham, Miss. Ann Elizabeth

2 Hale, Mr. Reginald

3 Leonard, Mr. Lionel

3 Sage, Miss. Constance Gladys

2 Pernot, Mr. Rene

3 Asplund, Master. Clarence Gustaf Hugo

2 Becker, Master. Richard F

3 Kink-Heilmann, Miss. Luise Gretchen

1 Rood, Mr. Hugh Roscoe

3 O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)

1 Romaine, Mr. Charles Hallace ("Mr C Rolmane")

3 Bourke, Mr. John

3 Turcin, Mr. Stjepan

2 Pinsky, Mrs. (Rosa)

2 Carbines, Mr. William

3 Andersen-Jensen, Miss. Carla Christine Nielsine

2 Navratil, Master. Michel M

1 Brown, Mrs. James Joseph (Margaret Tobin)

1 Lurette, Miss. Elise

3 Mernagh, Mr. Robert

3 Olsen, Mr. Karl Siegwart Andreas

3 Madigan, Miss. Margaret "Maggie"

2 Yrois, Miss. Henriette ("Mrs Harbeck")

3 Vande Walle, Mr. Nestor Cyriel

3 Sage, Mr. Frederick

3 Johanson, Mr. Jakob Alfred

3 Youseff, Mr. Gerious

3 Cohen, Mr. Gurshon "Gus"

3 Strom, Miss. Telma Matilda

3 Backstrom, Mr. Karl Alfred

3 Albimona, Mr. Nassef Cassem

3 Carr, Miss. Helen "Ellen"

1 Blank, Mr. Henry

3 Ali, Mr. Ahmed

2 Cameron, Miss. Clear Annie

3 Perkin, Mr. John Henry

2 Givard, Mr. Hans Kristensen

3 Kiernan, Mr. Philip

1 Newell, Miss. Madeleine

3 Honkanen, Miss. Eliina

2 Jacobsohn, Mr. Sidney Samuel

1 Bazzani, Miss. Albina

2 Harris, Mr. Walter

3 Sunderland, Mr. Victor Francis

2 Bracken, Mr. James H

3 Green, Mr. George Henry

3 Nenkoff, Mr. Christo

1 Hoyt, Mr. Frederick Maxfield

3 Berglund, Mr. Karl Ivar Sven

2 Mellors, Mr. William John

3 Lovell, Mr. John Hall ("Henry")

2 Fahlstrom, Mr. Arne Jonas

3 Lefebre, Miss. Mathilde

1 Harris, Mrs. Henry Birkhardt (Irene Wallach)

3 Larsson, Mr. Bengt Edvin

2 Sjostedt, Mr. Ernst Adolf

3 Asplund, Miss. Lillian Gertrud

2 Leyson, Mr. Robert William Norman

3 Harknett, Miss. Alice Phoebe

2 Hold, Mr. Stephen

2 Collyer, Miss. Marjorie "Lottie"

2 Pengelly, Mr. Frederick William

2 Hunt, Mr. George Henry

3 Zabour, Miss. Thamine

3 Murphy, Miss. Katherine "Kate"

2 Coleridge, Mr. Reginald Charles

3 Maenpaa, Mr. Matti Alexanteri

3 Attalah, Mr. Sleiman

1 Minahan, Dr. William Edward

3 Lindahl, Miss. Agda Thorilda Viktoria

2 Hamalainen, Mrs. William (Anna)

1 Beckwith, Mr. Richard Leonard

2 Carter, Rev. Ernest Courtenay

3 Reed, Mr. James George

3 Strom, Mrs. Wilhelm (Elna Matilda Persson)

1 Stead, Mr. William Thomas

3 Lobb, Mr. William Arthur

3 Rosblom, Mrs. Viktor (Helena Wilhelmina)

3 Touma, Mrs. Darwis (Hanne Youssef Razi)

1 Thorne, Mrs. Gertrude Maybelle

1 Cherry, Miss. Gladys

1 Ward, Miss. Anna

2 Parrish, Mrs. (Lutie Davis)

3 Smith, Mr. Thomas

3 Asplund, Master. Edvin Rojj Felix

1 Taussig, Mr. Emil

1 Harrison, Mr. William

3 Henry, Miss. Delia

2 Reeves, Mr. David

3 Panula, Mr. Ernesti Arvid

3 Persson, Mr. Ernst Ulrik

1 Graham, Mrs. William Thompson (Edith Junkins)

1 Bissette, Miss. Amelia

1 Cairns, Mr. Alexander

3 Tornquist, Mr. William Henry

2 Mellinger, Mrs. (Elizabeth Anne Maidment)

1 Natsch, Mr. Charles H

3 Healy, Miss. Hanora "Nora"

1 Andrews, Miss. Kornelia Theodosia

3 Lindblom, Miss. Augusta Charlotta

2 Parkes, Mr. Francis "Frank"

3 Rice, Master. Eric

3 Abbott, Mrs. Stanton (Rosa Hunt)

3 Duane, Mr. Frank

3 Olsson, Mr. Nils Johan Goransson

3 de Pelsmaeker, Mr. Alfons

3 Dorking, Mr. Edward Arthur

1 Smith, Mr. Richard William

3 Stankovic, Mr. Ivan

3 de Mulder, Mr. Theodore

3 Naidenoff, Mr. Penko

2 Hosono, Mr. Masabumi

3 Connolly, Miss. Kate

1 Barber, Miss. Ellen "Nellie"

1 Bishop, Mrs. Dickinson H (Helen Walton)

2 Levy, Mr. Rene Jacques

3 Haas, Miss. Aloisia

3 Mineff, Mr. Ivan

1 Lewy, Mr. Ervin G

3 Hanna, Mr. Mansour

1 Allison, Miss. Helen Loraine

1 Saalfeld, Mr. Adolphe

1 Baxter, Mrs. James (Helene DeLaudeniere Chaput)

3 Kelly, Miss. Anna Katherine "Annie Kate"

3 McCoy, Mr. Bernard

3 Johnson, Mr. William Cahoone Jr

2 Keane, Miss. Nora A

3 Williams, Mr. Howard Hugh "Harry"

1 Allison, Master. Hudson Trevor

1 Fleming, Miss. Margaret

1 Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)

2 Abelson, Mr. Samuel

1 Francatelli, Miss. Laura Mabel

1 Hays, Miss. Margaret Bechstein

1 Ryerson, Miss. Emily Borie

2 Lahtinen, Mrs. William (Anna Sylfven)

3 Hendekovic, Mr. Ignjac

2 Hart, Mr. Benjamin

3 Nilsson, Miss. Helmina Josefina

2 Kantor, Mrs. Sinai (Miriam Sternin)

2 Moraweck, Dr. Ernest

1 Wick, Miss. Mary Natalie

1 Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)

3 Dennis, Mr. Samuel

3 Danoff, Mr. Yoto

2 Slayter, Miss. Hilda Mary

2 Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)

3 Sage, Mr. George John Jr

1 Young, Miss. Marie Grice

3 Nysveen, Mr. Johan Hansen

2 Ball, Mrs. (Ada E Hall)

3 Goldsmith, Mrs. Frank John (Emily Alice Brown)

1 Hippach, Miss. Jean Gertrude

3 McCoy, Miss. Agnes

1 Partner, Mr. Austen

1 Graham, Mr. George Edward

3 Vander Planke, Mr. Leo Edmondus

1 Frauenthal, Mrs. Henry William (Clara Heinsheimer)

3 Denkoff, Mr. Mitto

1 Pears, Mr. Thomas Clinton

1 Burns, Miss. Elizabeth Margaret

3 Dahl, Mr. Karl Edwart

1 Blackwell, Mr. Stephen Weart

2 Navratil, Master. Edmond Roger

1 Fortune, Miss. Alice Elizabeth

2 Collander, Mr. Erik Gustaf

2 Sedgwick, Mr. Charles Frederick Waddington

2 Fox, Mr. Stanley Hubert

2 Brown, Miss. Amelia "Mildred"

2 Smith, Miss. Marion Elsie

3 Davison, Mrs. Thomas Henry (Mary E Finck)

3 Coutts, Master. William Loch "William"

3 Dimic, Mr. Jovan

3 Odahl, Mr. Nils Martin

1 Williams-Lambert, Mr. Fletcher Fellows

3 Elias, Mr. Tannous

3 Arnold-Franchi, Mr. Josef

3 Yousif, Mr. Wazli

3 Vanden Steen, Mr. Leo Peter

1 Bowerman, Miss. Elsie Edith

2 Funk, Miss. Annie Clemmer

3 McGovern, Miss. Mary

3 Mockler, Miss. Helen Mary "Ellie"

3 Skoog, Mr. Wilhelm

2 del Carlo, Mr. Sebastiano

3 Barbara, Mrs. (Catherine David)

3 Asim, Mr. Adola

3 O'Brien, Mr. Thomas

3 Adahl, Mr. Mauritz Nils Martin

1 Warren, Mrs. Frank Manley (Anna Sophia Atkinson)

3 Moussa, Mrs. (Mantoura Boulos)

3 Jermyn, Miss. Annie

1 Aubart, Mme. Leontine Pauline

1 Harder, Mr. George Achilles

3 Wiklund, Mr. Jakob Alfred

3 Beavan, Mr. William Thomas

1 Ringhini, Mr. Sante

3 Palsson, Miss. Stina Viola

1 Meyer, Mrs. Edgar Joseph (Leila Saks)

3 Landergren, Miss. Aurora Adelia

1 Widener, Mr. Harry Elkins

3 Betros, Mr. Tannous

3 Gustafsson, Mr. Karl Gideon

1 Bidois, Miss. Rosalie

3 Nakid, Miss. Maria ("Mary")

3 Tikkanen, Mr. Juho

1 Holverson, Mrs. Alexander Oskar (Mary Aline Towner)

3 Plotcharsky, Mr. Vasil

2 Davies, Mr. Charles Henry

3 Goodwin, Master. Sidney Leonard

2 Buss, Miss. Kate

3 Sadlier, Mr. Matthew

2 Lehmann, Miss. Bertha

1 Carter, Mr. William Ernest

3 Jansson, Mr. Carl Olof

3 Gustafsson, Mr. Johan Birger

1 Newell, Miss. Marjorie

3 Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)

3 Johansson, Mr. Erik

3 Olsson, Miss. Elina

2 McKane, Mr. Peter David

2 Pain, Dr. Alfred

2 Trout, Mrs. William H (Jessie L)

3 Niskanen, Mr. Juha

3 Adams, Mr. John

3 Jussila, Miss. Mari Aina

3 Hakkarainen, Mr. Pekka Pietari

3 Oreskovic, Miss. Marija

2 Gale, Mr. Shadrach

3 Widegren, Mr. Carl/Charles Peter

2 Richards, Master. William Rowe

3 Birkeland, Mr. Hans Martin Monsen

3 Lefebre, Miss. Ida

3 Sdycoff, Mr. Todor

3 Hart, Mr. Henry

1 Minahan, Miss. Daisy E

2 Cunningham, Mr. Alfred Fleming

3 Sundman, Mr. Johan Julian

3 Meek, Mrs. Thomas (Annie Louise Rowley)

2 Drew, Mrs. James Vivian (Lulu Thorne Christian)

2 Silven, Miss. Lyyli Karoliina

2 Matthews, Mr. William John

3 Van Impe, Miss. Catharina

3 Gheorgheff, Mr. Stanio

3 Charters, Mr. David

3 Zimmerman, Mr. Leo

3 Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)

3 Rosblom, Mr. Viktor Richard

3 Wiseman, Mr. Phillippe

2 Clarke, Mrs. Charles V (Ada Maria Winfield)

2 Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")

3 Flynn, Mr. James

3 Pickard, Mr. Berk (Berk Trembisky)

1 Bjornstrom-Steffansson, Mr. Mauritz Hakan

3 Thorneycroft, Mrs. Percival (Florence Kate White)

2 Louch, Mrs. Charles Alexander (Alice Adelaide Slow)

3 Kallio, Mr. Nikolai Erland

1 Silvey, Mr. William Baird

1 Carter, Miss. Lucile Polk

3 Ford, Miss. Doolina Margaret "Daisy"

2 Richards, Mrs. Sidney (Emily Hocking)

1 Fortune, Mr. Mark

2 Kvillner, Mr. Johan Henrik Johannesson

2 Hart, Mrs. Benjamin (Esther Ada Bloomfield)

3 Hampe, Mr. Leon

3 Petterson, Mr. Johan Emil

2 Reynaldo, Ms. Encarnacion

3 Johannesen-Bratthammer, Mr. Bernt

1 Dodge, Master. Washington

2 Mellinger, Miss. Madeleine Violet

1 Seward, Mr. Frederic Kimber

3 Baclini, Miss. Marie Catherine

1 Peuchen, Major. Arthur Godfrey

2 West, Mr. Edwy Arthur

3 Hagland, Mr. Ingvald Olai Olsen

1 Foreman, Mr. Benjamin Laventall

1 Goldenberg, Mr. Samuel L

3 Peduzzi, Mr. Joseph

3 Jalsevac, Mr. Ivan

1 Millet, Mr. Francis Davis

1 Kenyon, Mrs. Frederick R (Marion)

2 Toomey, Miss. Ellen

3 O'Connor, Mr. Maurice

1 Anderson, Mr. Harry

3 Morley, Mr. William

1 Gee, Mr. Arthur H

2 Milling, Mr. Jacob Christian

3 Maisner, Mr. Simon

3 Goncalves, Mr. Manuel Estanslas

2 Campbell, Mr. William

1 Smart, Mr. John Montgomery

3 Scanlan, Mr. James

3 Baclini, Miss. Helene Barbara

3 Keefe, Mr. Arthur

3 Cacic, Mr. Luka

2 West, Mrs. Edwy Arthur (Ada Mary Worth)

2 Jerwan, Mrs. Amin S (Marie Marthe Thuillard)

3 Strandberg, Miss. Ida Sofia

1 Clifford, Mr. George Quincy

2 Renouf, Mr. Peter Henry

3 Braund, Mr. Lewis Richard

3 Karlsson, Mr. Nils August

3 Hirvonen, Miss. Hildur E

3 Goodwin, Master. Harold Victor

2 Frost, Mr. Anthony Wood "Archie"

3 Rouse, Mr. Richard Henry

3 Turkula, Mrs. (Hedwig)

1 Bishop, Mr. Dickinson H

3 Lefebre, Miss. Jeannie

1 Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)

1 Kent, Mr. Edward Austin

3 Somerton, Mr. Francis William

3 Coutts, Master. Eden Leslie "Neville"

3 Hagland, Mr. Konrad Mathias Reiersen

3 Windelov, Mr. Einar

1 Molson, Mr. Harry Markland

1 Artagaveytia, Mr. Ramon

3 Stanley, Mr. Edward Roland

3 Yousseff, Mr. Gerious

1 Eustis, Miss. Elizabeth Mussey

3 Shellard, Mr. Frederick William

1 Allison, Mrs. Hudson J C (Bessie Waldo Daniels)

3 Svensson, Mr. Olof

3 Calic, Mr. Petar

3 Canavan, Miss. Mary

3 O'Sullivan, Miss. Bridget Mary

3 Laitinen, Miss. Kristina Sofia

1 Maioni, Miss. Roberta

1 Penasco y Castellana, Mr. Victor de Satode

2 Quick, Mrs. Frederick Charles (Jane Richards)

1 Bradley, Mr. George ("George Arthur Brayton")

3 Olsen, Mr. Henry Margido

3 Lang, Mr. Fang

3 Daly, Mr. Eugene Patrick

3 Webber, Mr. James

1 McGough, Mr. James Robert

1 Rothschild, Mrs. Martin (Elizabeth L. Barrett)

3 Coleff, Mr. Satio

1 Walker, Mr. William Anderson

2 Lemore, Mrs. (Amelia Milley)

3 Ryan, Mr. Patrick

2 Angle, Mrs. William A (Florence "Mary" Agnes Hughes)

3 Pavlovic, Mr. Stefo

1 Perreault, Miss. Anne

3 Vovk, Mr. Janko

3 Lahoud, Mr. Sarkis

1 Hippach, Mrs. Louis Albert (Ida Sophia Fischer)

3 Kassem, Mr. Fared

3 Farrell, Mr. James

2 Ridsdale, Miss. Lucy

1 Farthing, Mr. John

3 Salonen, Mr. Johan Werner

2 Hocking, Mr. Richard George

2 Quick, Miss. Phyllis May

3 Toufik, Mr. Nakli

3 Elias, Mr. Joseph Jr

3 Peter, Mrs. Catherine (Catherine Rizk)

3 Cacic, Miss. Marija

2 Hart, Miss. Eva Miriam

1 Butt, Major. Archibald Willingham

1 LeRoy, Miss. Bertha

3 Risien, Mr. Samuel Beard

1 Frolicher, Miss. Hedwig Margaritha

1 Crosby, Miss. Harriet R

3 Andersson, Miss. Ingeborg Constanzia

3 Andersson, Miss. Sigrid Elisabeth

2 Beane, Mr. Edward

1 Douglas, Mr. Walter Donald

1 Nicholson, Mr. Arthur Ernest

2 Beane, Mrs. Edward (Ethel Clarke)

2 Padro y Manent, Mr. Julian

3 Goldsmith, Mr. Frank John

2 Davies, Master. John Morgan Jr

1 Thayer, Mr. John Borland Jr

2 Sharp, Mr. Percival James R

3 O'Brien, Mr. Timothy

3 Leeni, Mr. Fahim ("Philip Zenni")

3 Ohman, Miss. Velin

1 Wright, Mr. George

1 Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")

1 Robbins, Mr. Victor

1 Taussig, Mrs. Emil (Tillie Mandelbaum)

3 de Messemaeker, Mrs. Guillaume Joseph (Emma)

3 Morrow, Mr. Thomas Rowan

3 Sivic, Mr. Husein

2 Norman, Mr. Robert Douglas

3 Simmons, Mr. John

3 Meanwell, Miss. (Marion Ogden)

3 Davies, Mr. Alfred J

3 Stoytcheff, Mr. Ilia

3 Palsson, Mrs. Nils (Alma Cornelia Berglund)

3 Doharr, Mr. Tannous

3 Jonsson, Mr. Carl

2 Harris, Mr. George

1 Appleton, Mrs. Edward Dale (Charlotte Lamson)

1 Flynn, Mr. John Irwin ("Irving")

3 Kelly, Miss. Mary

3 Rush, Mr. Alfred George John

3 Patchett, Mr. George

2 Garside, Miss. Ethel

1 Silvey, Mrs. William Baird (Alice Munger)

3 Caram, Mrs. Joseph (Maria Elias)

3 Jussila, Mr. Eiriik

2 Christy, Miss. Julie Rachel

1 Thayer, Mrs. John Borland (Marian Longstreth Morris)

2 Downton, Mr. William James

1 Ross, Mr. John Hugo

3 Paulner, Mr. Uscher

1 Taussig, Miss. Ruth

2 Jarvis, Mr. John Denzil

1 Frolicher-Stehli, Mr. Maxmillian

3 Gilinski, Mr. Eliezer

3 Murdlin, Mr. Joseph

3 Rintamaki, Mr. Matti

1 Stephenson, Mrs. Walter Bertram (Martha Eustis)

3 Elsbury, Mr. William James

3 Bourke, Miss. Mary

2 Chapman, Mr. John Henry

3 Van Impe, Mr. Jean Baptiste

2 Leitch, Miss. Jessie Wills

3 Johnson, Mr. Alfred

3 Boulos, Mr. Hanna

1 Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")

2 Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)

3 Slabenoff, Mr. Petco

1 Harrington, Mr. Charles H

3 Torber, Mr. Ernst William

1 Homer, Mr. Harry ("Mr E Haven")

3 Lindell, Mr. Edvard Bengtsson

3 Karaic, Mr. Milan

1 Daniel, Mr. Robert Williams

2 Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)

1 Shutes, Miss. Elizabeth W

3 Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)

3 Jardin, Mr. Jose Neto

3 Murphy, Miss. Margaret Jane

3 Horgan, Mr. John

3 Brocklebank, Mr. William Alfred

2 Herman, Miss. Alice

3 Danbom, Mr. Ernst Gilbert

3 Lobb, Mrs. William Arthur (Cordelia K Stanlick)

2 Becker, Miss. Marion Louise

2 Gavey, Mr. Lawrence

3 Yasbeck, Mr. Antoni

1 Kimball, Mr. Edwin Nelson Jr

3 Nakid, Mr. Sahid

3 Hansen, Mr. Henry Damsgaard

3 Bowen, Mr. David John "Dai"

1 Sutton, Mr. Frederick

2 Kirkland, Rev. Charles Leonard

1 Longley, Miss. Gretchen Fiske

3 Bostandyeff, Mr. Guentcho

3 O'Connell, Mr. Patrick D

1 Barkworth, Mr. Algernon Henry Wilson

3 Lundahl, Mr. Johan Svensson

1 Stahelin-Maeglin, Dr. Max

1 Parr, Mr. William Henry Marsh

3 Skoog, Miss. Mabel

2 Davis, Miss. Mary

3 Leinonen, Mr. Antti Gustaf

2 Collyer, Mr. Harvey

3 Panula, Mrs. Juha (Maria Emilia Ojala)

3 Thorneycroft, Mr. Percival

3 Jensen, Mr. Hans Peder

1 Sagesser, Mlle. Emma

3 Skoog, Miss. Margit Elizabeth

3 Foo, Mr. Choong

3 Baclini, Miss. Eugenie


0      None
1      None
2      None
3      None
4      None
       ...
886    None
887    None
888    None
889    None
890    None
Length: 891, dtype: object

In [46]:
# column-wise

def test(x):
    print(x)
    print("")

df.apply(test, axis=0)

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: SibSp, Length: 891, dtype: int64

0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: Parch, Length: 891, dtype: int64

0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Gender, Length: 891, dtype: int64

PassengerId    None
Survived       None
Pclass         None
Name           None
Sex            None
Age            None
SibSp          None
Parch          None
Ticket         None
Fare           None
Cabin          None
Embarked       None
Gender         None
dtype: object

In [50]:
df["Gender"] = None

In [51]:
%%time
df["Gender"] = df["Sex"].apply(lambda x: 1 if x == "male" else 0)

CPU times: total: 0 ns
Wall time: 1.62 ms

In [52]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

## pandarallel

In [53]:
!pip install pandarallel

Defaulting to user installation because normal site-packages is not writeable
Collecting pandarallel
  Using cached pandarallel-1.6.5-py3-none-any.whl
Collecting dill>=0.3.1 (from pandarallel)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas>=1 in c:\users\kaveh\appdata\roaming\python\python310\site-packages (from pandarallel) (2.2.1)
Requirement already satisfied: psutil in c:\programdata\miniconda3\envs\ai\lib\site-packages (from pandarallel) (5.9.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\programdata\miniconda3\envs\ai\lib\site-packages (from pandas>=1->pandarallel) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\miniconda3\envs\ai\lib\site-packages (from pandas>=1->pandarallel) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\miniconda3\envs\ai\lib\site-packages (from pandas>=1->pandarallel) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kaveh\appdata\roaming\python\python310\site-packages (from pandas>=1->pandarallel) (2024.1)
Requirement already satisfied: six>=1.5 in c:\programdata\miniconda3\envs\ai\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1->pandarallel) (1.16.0)
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
   ---------------------------------------- 0.0/116.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/116.3 kB ? eta -:--:--
   --- ------------------------------------ 10.2/116.3 kB ? eta -:--:--
   ------------- ------------------------- 41.0/116.3 kB 393.8 kB/s eta 0:00:01
   --------------------------------- ---- 102.4/116.3 kB 737.3 kB/s eta 0:00:01
   -------------------------------------- 116.3/116.3 kB 679.6 kB/s eta 0:00:00
Installing collected packages: dill, pandarallel
Successfully installed dill-0.3.8 pandarallel-1.6.5

In [70]:
from pandarallel import pandarallel

pandarallel.initialize(progress_bar=True, nb_workers=4)

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

In [71]:
df["Gender"] = None

In [72]:
%%time
df["Gender"] = df["Sex"].parallel_apply(lambda x: 1 if x == "male" else 0)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=223), Label(value='0 / 223'))), HB…

CPU times: total: 46.9 ms
Wall time: 2.13 s

## TQDM

In [73]:
!pip install tqdm

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tqdm in c:\users\kaveh\appdata\roaming\python\python310\site-packages (4.66.2)
Requirement already satisfied: colorama in c:\programdata\miniconda3\envs\ai\lib\site-packages (from tqdm) (0.4.6)

In [74]:
from tqdm.notebook import trange, tqdm

In [79]:
%%time

import time

for i in trange(10):
    time.sleep(1)
    pass

  0%|          | 0/10 [00:00<?, ?it/s]

CPU times: total: 0 ns
Wall time: 10.1 s

In [85]:
%%time

for index, row in tqdm(df.iterrows(), total=df.shape[0], desc="Pandas Processing"):
    time.sleep(0.001)
    pass

Pandas Processing:   0%|          | 0/891 [00:00<?, ?it/s]

CPU times: total: 31.2 ms
Wall time: 13.9 s

In [92]:
%%time

with tqdm(total=df.shape[0], bar_format="{percentage:3.0f}%|{bar}{r_bar} {desc:<5}") as pbar:
    for index, row in df.iterrows():
        time.sleep(0.001)
        pbar.update(1)
        # pbar.set_description(row["Name"], refresh=True)
        pbar.desc = row["Name"]
        pass

  0%|          | 0/891 [00:00<?, ?it/s]

CPU times: total: 62.5 ms
Wall time: 13.9 s

In [97]:
%%time

tqdm.pandas(desc="Progress")

def gender_encoder(x):
    time.sleep(0.001)
    if x == "male":
        return 1
    else:
        return 0
        
df["Gender"] = df["Sex"].progress_apply(gender_encoder)

Progress:   0%|          | 0/891 [00:00<?, ?it/s]

CPU times: total: 93.8 ms
Wall time: 13.9 s

In [98]:
tqdm(total=100)

  0%|          | 0/100 [00:00<?, ?it/s]

In [105]:
tqdm.pandas(desc="Progress")

pbar = tqdm(total=df.shape[0], bar_format="{percentage:3.0f}%|{bar}{r_bar} {desc:<5}")

def dynamic_desc(x, y):
    time.sleep(0.001)
    pbar.update(1)
    pbar.desc = y
    
df.apply(lambda x: dynamic_desc(x.Pclass, x.Name), axis=1)

  0%|          | 0/891 [00:00<?, ?it/s]

0      None
1      None
2      None
3      None
4      None
       ...
886    None
887    None
888    None
889    None
890    None
Length: 891, dtype: object